:root {
--color-logo: #ffd7d7;
--color-text-logo:#fd2d01;    
--catawba: #723d46ff;
--morning-blue: #839788ff;
--cambridge-blue: #abc4abff;
--turquoise-green: #bbe1c3ff;
--cambridge-blue-2: #a7cdbdff;
--artichoke: #869d7aff;
--font-family-base: 'Inconsolata', monospace;
}
