.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
}
.page-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-grow: 1;
}
@media (max-width: 400px) {
  .page-container {
    padding: 5px;
  }
  .rating {
    margin-right: 10px;
  }
}
