.appart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tags {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}

.appart-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10px;
}
.appart-tittle {
  max-width: 60%;
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-top: 10px;
}
.tag {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  padding: 7px 15px;
  color: var(--text-color);
  font-size: small;
  margin-top: 5px;
  min-width: 10vw;
}
.appart-host {
  display: flex;
  flex-direction: column;
  
}
.host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: var(--primary-color);
  font-size: 1rem;
}
.host img {
  border-radius: 50%;
  padding: 20px;
}
.star {
  height: 40px;
  margin: 3px;
  }
@media (max-width:750px) {
  .appart-infos {
    flex-direction: column;
    align-items: flex-start;
  }
  .appart-host{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .appart-tittle{
    max-width: 100%;
    text-align: left;
    font-size: 1.2rem;
  }
  .tags{
    justify-content: flex-start;
    margin-top: 15px;
  }
  .host img{
    width: 70%;
  }
  .star {
    height: 30px;
    }
}

@media (max-width: 560px) {
  .host img{
    width: 50%;
  }
  .host{
    justify-content: flex-end;
  }
  .tag{
    padding: 7px;
  }
  .star {
    height: 20px;
    width: 20px;
    margin: 0;
    }
    .rating{
      min-width: 30%;
    }
}
@media (max-width: 400px){
  .tag{
    font-size: 0.5rem;
    justify-content: center;
  }
  .host img{
    min-width: 80px;
  }
  .host{
    font-size: 1rem;
    max-width: 60%;
    padding: 0;
  }
  
}
