.fleche {
  position: absolute;
  height: 10%;
  top: 45%;
  margin: 10px;
}
.fleche-gauche {
  left: 0%;
}
.fleche-droite {
  right: 0%;
}
.fleche-none{
  display: none;
}
.compteur{
  position: absolute;
  left: 50%;
  bottom: 0%;
  color: var(--text-color);
  margin-bottom: 5px;
  font-size: 1.2rem;
}