.carousel {
  border: solid 1px rgb(255, 64, 0);
  width: 100%;
  height: 40vh;
  border-radius: 25px;
  position: relative;
}
.slider {
  background-color: var(--text-color);
}

.carousel-img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fleche {
  position: absolute;
  height: 10%;
  top: 45%;
  margin: 10px;
}
.fleche-gauche {
  left: 0%;
}
.fleche-droite {
  right: 0%;
}
.fleche-none{
  display: none;
}
.compteur{
  position: absolute;
  left: 50%;
  bottom: 0%;
  color: var(--text-color);
  margin-bottom: 5px;
  font-size: 1.2rem;
}