
.chiffre {    

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
/* font-size: 288px; */
font-size: 16rem;
line-height: 142.6%;
/* or 411px */
color: #FF6060;
}
.text-erreur {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
/* font-size: 36px; */
font-size: 2rem;
/* line-height: 142.6%; */
line-height: 51px;
/* or 51px */
color: #FF6060;
}

.text-retour-accueil {   
margin-top: 40px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
/* font-size: 18px; */
/* font-size: 1rem; */
line-height: 142.6%;
/* identical to box height, or 26px */
text-decoration-line: underline;
color: #FF6060;
}