.gallery {
    /* border: 1px solid royalblue; */
    color: royalblue;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;  
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start; 
    margin-top: 20px;
}
.test-card {
    width: 200px;
    height: 200px;
    background-color: #FF6060;
    border: solid 1px black;
}