.gallery {
    /* border: 1px solid royalblue; */
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start; 
    margin-top: 20px;
    padding-top: 20px;
/* padding:20px; */
    background: #F7F7F7;
border-radius: 25px;
}
