.header { 
  
margin-bottom: 10px;
padding: 10px ;
display: flex;
justify-content: space-between;
border: 2px solid black;
}



.logo {
    /* border: 2px solid black;  */
    max-width: 30%;
    object-fit: contain;
}